ion-content{
  --background: linear-gradient(#ffebef, #fcfcf3 , #fafff6);
    p{
      font-size: 16px;
      line-height: 22px;
      color: #8c8c8c;
      margin: 0;
      font-weight: 300;
    }
    ion-card{
        border-radius: 24px;
    }
}